/* MAIN PAGE */


#mainBig{width: 960px;	height: 2300px;	background-color: #fff; margin: 0 auto;}
#head{width: 100%;	height: 106px; background-color: #fff;	}
#head>h1{width: 360px; height: 66px; float: left; padding-left: 15px; margin-top:20px;}
h1>img{box-sizing: border-box; }

#head>ul{height: auto;float:right;padding-top:2rem;}
#head>ul>li {float: left; padding: 5px; margin-bottom: 20px;margin-right: 10px; }

/*-------------*/
#gnb{width: 960px; height: 62px; background-color: #000; }
.gnbnv{width: 100%;height: 62px; background-color: #000;list-style-type:none;}
.gnbnv>li{height: 100%; float:left; color:#fff8a5; display: inline; }

.brand{width: 106px;  background-image: url(../img/tonymoly_for01.jpg);}
.brand:hover{background-image: url(../img/tonymoly_red_01.jpg);}
.shop{width: 104px; background-image: url(../img/tonymoly_for02.jpg);}
.shop:hover{background-image: url(../img/tonymoly_red_02.jpg);}
.event{width: 108px;background-image: url(../img/tonymoly_for03.jpg);}
.event:hover{background-image: url(../img/tonymoly_red_03.jpg);}
.comt{width: 170px;background-image: url(../img/tonymoly_for04.jpg);}
.comt:hover{background-image: url(../img/tonymoly_red_04.jpg);}



/*---------mian silde-----*/
#bannerBox{width:960px; height: 580px; background-color: #dde445; position: relative; overflow: hidden;}
.btn{width: 50px; height: 50px; position: absolute; margin-top: 240px; z-index: 100; background-color: transparent;}
.lt{ left:50px; float:left; }
.gt{right:50px; float: right;}
.btn button{width: 100%; height: 100%; background-color:inherit;font-size:3rem; font-weight: bold;
 transition:all 0.5s;}
.btn button:hover{color:#fff; text-shadow:3px 3px 3px #333;}

.bannerAll{width: 600%; height: 100%; margin-left: -100%; }
.bannerAll>li{width: calc(100% / 6); height: 100%; float:left;}
/*.l_btn{width: 100px; height: 100px; background-color: transparent; float:left; margin-top: 240px}
.r_btn{width: 100px; height: 100px; background-color: transparent; float:right; margin-top: 240px}

.ban{width: 400%; height: 580px; background-color: #22a; float:right; margin-right: -100%;}
.ban>li{width: 25%;height: 580px; background-color: #484848; }*/


/*--------------*/
h2{font-size:250%; color:#ed174b; padding-top: 30px;}
.mubing{width: 100%; height: 235px;	background-color: #d48; margin-top: 50px;}
.mub{width: 100%; height: 100%; background-color: #a5526d; float:left;}
.mub>.m_01{width: 192px; height: 100%; background-color: #eee; float:left;}
.mub>.m_02{width: 192px; height: 100%; background-color: #ddd; float:left;}
.mub>.m_03{width: 192px; height: 100%; background-color: #ccc; float:left;}
.mub>.m_04{width: 192px; height: 100%; background-color: #bbb; float:left;}
.mub>.m_05{width: 192px; height: 100%; background-color: #aaa; float:left;}

/*---------*/

.content_02{width: 100%; height: 856px;  margin-top:50px; border:2px solid:#000;}
.p_01{width: 618px; height: 538px; background-color: #35a; float:left;}
.p_02{width: 342px; height: 375px; background-color: #dd5;  float:right;}
.p_03{width: 342px; height: 163px; float: right;}
  .mi_01{width: 171px; height: 163px; background-color: #375;  float: left;}
  .mi_02{width: 171px; height: 163px; background-color:#8d5;  float: right ;}
.p_04{width: 240px; height: 240px; background-color: #ffd5df;  float:left;}
.p_05{width: 240px; height: 240px; background-color: #812e42;  float: left;}
.p_06{width: 480px; height: 240px; background-color: #d8a;  float:right;}

/*--------------------------------------*/

.foot{width: 100%; height: 336px;background-color: #f3f3f3; }
.foot_pi{ margin: 0 auto; margin-top: 50px; margin-left: 180px; float:left;}
.foot_pi>li{font-size:90%; color: #999; float:left; padding:0 0.5rem; border-right:1px solid #ccc;}
.foot_pi>li:last-child{border-right: 0;}
p{font-size:80% ; color:#777;  margin-top: 70px; margin-left: 100px;}
.juTony{font-size:60%; margin-left: 350px;}